/*.sln
*.userprefs
*.suo
/*.csproj

/Library

/Tests/obj
/Tests/bin

/obj
/Temp

/Tests/Properties

/Assets/UnityVS

*.unityproj
/Windows-x86
/Assets/AstarPathfindingProject
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
*.apk
